*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h2{
    text-align: center;
    margin: 20px 0px;
}
h1{
    width: 150px;
    color: grey;
    text-align: center;
    display: block;
    background-color: grey;
    padding: 55px 10px;
    margin:  100px auto;
    border-radius: 50%;
    position: relative;
    /* transform: rotate(0deg) rotateY(0deg) rotateX(0deg); */
    transform: rotate(-20deg) rotateY(35deg) rotateX(15deg);
    box-shadow: -60px 122px 47px rgb(0,0,0,0.25);
    transition: 1s;
    cursor: pointer;
    z-index: 1;
}
h1::before{
    content: "";
    position: absolute;
    top: -9px;
    left: -70px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: grey;
    box-shadow: -60px 122px 47px rgb(0,0,0,0.25);
    transition: 1s;
    z-index: -3;
}
h1::after{
    content: "";
    position: absolute;
    top: -9px;
    left: 122px;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background-color: grey;
    box-shadow: -60px 122px 47px rgb(0,0,0,0.25);
    transition: 1s;
    z-index: -3;
}
h1:hover{
    transform: rotate(0deg) rotateY(0deg) rotateX(0deg);
    box-shadow: 0px 122px 40px rgb(0,0,0,0.25);
    background-color: black;
    color: white;
}
h1:hover::before{
    background-color: black;
    box-shadow: 0px 122px 35px rgb(0,0,0,0.25);
}
h1:hover::after{
    background-color: black;
    box-shadow: 0px 122px 35px rgb(0,0,0,0.25);
}